@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;

}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation Bar Styling */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#cover-text #cover-text h2 {
    color: #fff;
}

/* hero-image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;

    /* animation for background zoom*/

    animation: forwards;
    animation-name: hero-zoom;
    animation-duration: 5s;

}

/*animation scale*/
    @keyframes hero-zoom {

        from{
           transform: scale(1);
        }
        to{
            transform: scale(1.1);
        }
        
    }

#cover-text {
    font-family: Oswald, sans-serif;
    font-size: 130%;
    letter-spacing: 4px;
    text-transform: uppercase;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}              
/* club ethos*/

#club-ethos {
    height: 600px;
}

#left-about {
    float: left;
    padding-top: 30px;
    width: 30%;

}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px;
    width: 100%;
}

#right-about {
    float: right;
    padding-top: 30px;
    width: 30%;
}

#center-about {
    float: center center;
    padding-top: 30px;
    margin: 0 auto;
    background-color: green;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}